# Ignore all zip files and cache directories
*.zip
.cache/
__pycache__/

# Ignore all parquet files everywhere...
*.parquet

# Allow parquets inside the outputs/ folder
!outputs/**/*.parquet

# Ignore all files inside these raw NLP data directories
data/03_nlp/gdelt/**/*
data/03_nlp/icews/**/*
data/03_nlp/phoenix/**/*

# Always allow .gitkeep files so the empty folders are pushed to GitHub
!.gitkeep